@model IEnumerable<CadeviTCC.Models.DTO.DocumentoDTO>

@{
    ViewBag.Title = "VincularDocumento";
}

<h2>Vincular documentos</h2>

<p>
    @*@Html.ActionLink("Inserir novo documento", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            <button class="btn btn-sm btn-success" type="button">@Html.ActionLink("Vincular ", "VincularNovoDocumento", new { id = item.IdDocumento })</button>

            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
